
/* 
	STYLE.CSS:
	One stylesheet to rule them all.
	
	selector { property:value }
	
*/

header {
	height: 100px;
	text-align: center;
	background-color: beige;
}

header h1 {
	margin:0;
}
main {

}

footer{

}

.wrapper {
	width:700px;
	margin: auto;
}

